target/
.mvn
/data-producer/src/main/java/com/quetzalcoatl/microservices/avro/
/topic-viewer/src/main/java/com/quetzalcoatl/microservices/avro/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

problems.md
howtostart.md